<h2 class="col-12 text-center mb-5 mt-5">Ajout d'une categorie</h2>

<div class="col-12">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nom :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nomCategorie" placeholder="Nom de la categorie">
        </div>
    </div>
    <div class="form-group row mt-5 mb-5">
        <div class="col-sm-12 d-flex flex-row justify-content-end">
            <button type="button" class="btn btn-primary mr-1 btAddCategorie">Ajouter</button>
            <button type="button" class="btn btn-dark btCancel">Annuler</button>
        </div>
    </div>
</div>