<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/header :: nav"></div>

<h1 class="col-12 text-center mt-3 mb-3">Liste films</h1>

<table class="table table-striped col-10 offset-1">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre</th>
        <th scope="col">Année</th>
        <th scope="col">Réalisateur</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="film : ${films}" class="ligneFilm">
        <td class="idFilm" th:text="${film.idFilm}" />
        <td th:text="${film.titre}" />
        <td th:text="${film.annee}" />
        <td th:text="${film.realisateur.nom} + ' ' + ${film.realisateur.prenom}" />
        <td>
            <div>
                <a th:href="'/modifierFilm/' + ${film.getIdFilm()}" class="btn btn-primary btUpdate">Modifier</a>
                <a th:href="'/supprimeFilm/' + ${film.getIdFilm()}" class="btn btn-danger btDelete">Supprimer</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
<script src="js/listeFilm.js"></script>
</html>